* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  font-family: sans-serif;
  font-size: 40px;
  width: 100%;
  min-height: 100vh;
}

.h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.content {
  background-image: url(/timer.jpg);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: right bottom;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto auto;
      grid-template-rows: auto 1fr auto auto;
      grid-template-areas: 'title' 'picture' 'timer' 'buttons';
  height: 100vh;
  justify-items: center;
}

.text_wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  padding-top: 20px;
}

.text {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 100px;
  color: #ff6f6f;
}

.image_wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: picture;
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.timer_wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: picture;
  display: -ms-grid;
  display: grid;
  opacity: 0;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: auto;
  height: auto;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.time_block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 300px 50px;
      grid-template-rows: 300px 50px;
  justify-items: center;
}

.time_block .minutes, .time_block .seconds, .time_block .points {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #ff6f6f;
  font-size: 300px;
}

.time_block .name {
  background-color: #ff6f6f;
  border: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 4px 16px;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.buttons {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: buttons;
  margin-bottom: 20px;
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.start_button {
  background: #ff6f6f;
  border: 0;
  border-radius: 10px;
  font-size: 50px;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  padding: 8px 16px;
}

.start_button:hover {
  font-size: 53px;
  -webkit-box-shadow: 3px 3px 3px #636363;
          box-shadow: 3px 3px 3px #636363;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.start_button:active {
  font-size: 48px;
  -webkit-box-shadow: inset 0 0 8px #555555;
          box-shadow: inset 0 0 8px #555555;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.end_text_wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: picture;
  opacity: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 100px;
  color: #ff6f6f;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
/*# sourceMappingURL=style.css.map */